<%- include layouts/header.ejs %>

        <div class="page-data">

            <form method="post" action="/karyawan/add">
                <table cellpadding="20">
                  <tr>
                      <td class="label">NIK</td><td>: <input type="text" name="nik" required></td>
                   </tr>
                   <tr>
                    <td class="label">Nama</td><td>: <input type="text" name="nama" required></td>
                 </tr>
                 <tr>
                   <td class="label">Tanggal Lahir</td><td>: <input type="text" name="tgl_lahir" placeholder="mm/dd/yyyy" required></td>
                </tr>
                <tr>
                    <td class="label">Jenis Kelamin</td><td>: <input type="radio" name="Jkel" onclick="displayResult(this.value)" value="LAKI-LAKI">LAKI-LAKI
                  <br> </br>&nbsp; <input type="radio" name="Jkel" onclick="displayResult(this.value)" value="PEREMPUAN">PEREMPUAN</td>
                 </tr>
                 <tr>
                     <td class="label" valign="top">Alamat</td><td valign="top">: <textarea name="alamat" required cols="30" rows="5"></textarea></td>
                 </tr>

                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Submit">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>

        </div>
